.heroimage {
  background-image: url("Images/hero.png");
  background-size: cover;
  height: 825px;
  background-position: center;
}
.love {
  background-image: url("Images/love.png");
  background-size: cover;
  height: 620px;
  background-position: center;
}
.girl {
  background-image: url("Images/Girl with Balloon.png");
  background-size: cover;
  height: 620px;
  background-position: center;
}
.monkey {
  background-image: url("Images/Parliment of apes.jpeg");
  background-size: cover;
  height: 620px;
  background-position: center;
}
.flag {
  background-image: url("Images/flag.jpeg");
  background-size: cover;
  height: 850px;
  background-position: center;
}
.littlegirl {
  background-image: url("Images/Little Girl.jpeg");
  background-size: cover;
  height: 850px;
  background-position: center;
}
.frisk {
  background-image: url("Images/frisk.jpeg");
  background-size: cover;
  height: 850px;
  background-position: center;
}
.textbox {
  height: 200px;

}
/* .ukraine1 {
  background-image: url("../images/Banksy\ Woman\ yellow\ Ukraine.jpg");
  background-size: cover;
  height: 600px;
  background-position: bottom; */

/* .ukraine2 {
  background-image: url("../images/Banksy\ Girl\ Gym\ Ukraine.jpg");
  background-size: cover;
  height: 600px;
  background-position: bottom;
}
.ukraine3 {
  background-image: url("../images/Banksy\ Judo\ Ukraine.jpg");
  background-size: cover;
  height: 600px;
  background-position: bottom;
}
.ukraine4 {
  background-image: url("../images/ukraine4.jpeg");
  background-size: cover;
  height: 600px;
  background-position: bottom;
}
.ukraine5 {
  background-image: url("../images/Ukraine\ 5.jpeg");
  background-size: cover;
  height: 600px;
  background-position: bottom; */

.carousel-item {
  background-size: cover;
  height: 1000px;
  background-position: bottom;
}
/* .spray1 {
  background-image: url("../Images/Spraycation1.jpeg");
  background-size: cover;
  height: 600px;
  background-position: center;
}
.spray2 {
  background-image: url("../Images/Spraycation2.jpeg");
  background-size: cover;
  height: 600px;
  background-position: bottom;
}
.spray3 {
  background-image: url("../Images/Spraycation3.jpeg");
  background-size: cover;
  height: 600px;
  background-position: bottom;
}
.spray4 {
  background-image: url("../Images/Spraycation4.jpeg");
  background-size: cover;
  height: 600px;
  background-position: bottom;
}
.spray5 {
  background-image: url("../Images/Spraycation5.jpeg");
  background-size: cover;
  height: 600px;
  background-position: bottom;
} */